{% from "_util.html" import render_wtf_field %}

{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-5">{% block title %}Forgot Password{% endblock %}</h1>
  {% if form.email.data %}
    <div class="alert alert-success mt-4" role="alert">
      <strong>Password reset email sent:</strong> please check {{ form.email.data }} for more information.
    </div>
  {% else %}
    <form action="/user/forgot-password" method="post">
      {{ form.csrf_token }}
      {{ render_wtf_field(form.email) }}
      {{ form.submit(class_="btn btn-primary") }}
    </form>
  {% endif %}
{% endblock %}
