{% from "_util.html" import render_wtf_field, render_wtf_checkbox %}

{% extends 'base.html' %}

{% block content %}
  <h1 class="mt-5">{% block title %}Login{% endblock %}</h1>
  <form class="mb-3" action="/user/login" method="post">
    {{ form.csrf_token }}
    {{ render_wtf_field(form.email) }}
    {{ render_wtf_field(form.password) }}
    {{ render_wtf_checkbox(form.remember_me) }}
    {{ form.submit(class_="btn btn-primary") }}
  </form>
  <p><a href="/user/forgot-password">Forgot password</a></p>
  <p><a href="/user/register">Register</a></p>
{% endblock %}
